<%= link_to 'Back', root_path %>

<div id="new-form">
<%= simple_form_for(@droid) do |f| %>
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.input :builder %>
    <%= f.input :age %>
    <%= f.input :description %>
    <%= f.input :era %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Modifier le droid", class: 'btn'%>
  <% end %>
</div>

