<div class="under-body">
  <%= simple_form_for :search, url: droids_path, method: "GET" do |f| %>
    <div class="search-bar d-flex flex-direction-row justify-content-between align-items-center">
      <div class="row w-100 content-box bg-white p-2">
        <div class="search-box-input px-2">
          <%= f.input :era, prompt: "ERA", label: false, collection: Droid::ERA %>
        </div>
        <div class="search-box-input px-2">
          <%= f.input :category, prompt: "CATEGORY", label: false, collection: Droid::CATEGORY %>
        </div>
        <div class="search-box-input px-2">
          <%= f.input :builder, prompt: "BUILDER", label: false, collection: Droid::BUILDER %>
        </div>
        <div class="search-box-submit px-2">
          <%= f.button :submit, 'Search ðŸ”' %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render "shared/droid-card" %>
</div>
