<%= simple_form_for :search, url: droids_path, method: "GET" do |f| %>
  <div class="search-bar d-flex flex-direction-row justify-content-between align-items-center mt-5">
    <div class="row w-100 content-box bg-white p-2">
      <div class="search-box px-2">
        <%= f.input :era, prompt: "ERA", label: false, collection: Droid::ERA %>
      </div>
      <div class="search-box px-2">
        <%= f.input :category, prompt: "CATEGORY", label: false, collection: Droid::CATEGORY %>
      </div>
      <div class="search-box px-2">
        <%= f.input :builder, prompt: "BUILDER", label: false, collection: Droid::BUILDER %>
      </div>
      <div class="search-box px-2">
        <%= f.button :submit, 'Search ðŸ”' %>
      </div>
    </div>
  </div>
<% end %>

<% if policy(Droid).create? %>
  <%= link_to "Create a new robot", new_droid_path %>
<% end %>

<% @droids.each do |droid| %>
 <p> <%= droid.name %> </p>
 <p> <%=droid.category %> </p>
 <%= link_to "See details", droid_path(droid) %>
<% end %>

<%= link_to "sign out", destroy_user_session_path, method: :delete %>

<% @droids.each do |droid| %>
  <% if droid.photo.attached? %>
    <%= cl_image_tag droid.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
 <p> <%= droid.name %> </p>
 <p> <%=droid.category %> </p>
 <%= link_to "See details", droid_path(droid) %>
<% end %>
