<h1>Creating a new robot...</h1>


<%= simple_form_for (@droid) do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :builder %>
  <%= f.input :age %>
  <%= f.input :description %>
  <%= f.input :era %>
  <%= f.input :price_per_year  %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Submit review" %>
<% end %>
