    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css">


<div class="card-droid">
  <div class="img-card">
    <% if @droid.photo.attached? %>
        <%= cl_image_tag @droid.photo.key %>
    <% else %>
      <img class="card-img-top" src="https://images.pexels.com/photos/2085831/pexels-photo-2085831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
    <% end %>
  </div>

  <div class="all-description">
    <div class="title-description">
      <h1><%= @droid.name %></h1>
      <div class="scroll">
        <p class="descr"><%= @droid.description %></p>
      </div>
    </div>

    <div class="midle">
        <div class="card-droid-infos">
          <div class="droid-info">
            <div class="lien">
              <ul>
                <li><i class="fas fa-user-astronaut"></i> <%= @droid.category %></li>
                <li><i class="fas fa-tools"></i>  <%= @droid.builder %></li>
                <li><i class="fas fa-cogs"></i>  <%= @droid.age %></li>
                <li><i class="fas fa-history"></i>  <%= @droid.era %></li>
              </ul>

              <% if @rented %>
                <div class="success">
                  <p><b>Last reservation</b></p>
                  <div id="des-name">
                  <p>Droid rented by <b> <%= @current_user.name %></b> : </p>
                    <% if @current_user.photo.attached? %>
                      <p><%= cl_image_tag current_user.photo.key, height: 40, width: 40, crop: :fill %></p>
                    <% else %>
                    <% end %>
                    </div>
                  <p>From <b> <%= @droid.rents.last.start_year %></b> to <b><%= @droid.rents.last.end_year %></b></p>
                </div>
              <% else %>
              <% end  %>
            </div>
          </div>
        </div>

            <div class="joge">
              <div class="chose-date">
                <div id="jauge">
                 <p>Your price</p>
                 <hr>
                  <input id="ex1" data-price="<%= @droid.price_per_year %>" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="500" data-slider-step="1" data-slider-value="14"/>
                  <div id="year-div"><p id="years"><p><p>: years</p></div>
                </div>
                <div class="price">
                  <p><i class="fas fa-coins"></i></p><p id="calculprice"></p>
                </div>

                <div class="rent-btn">
                  <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                    Rent this droid
                  </button>
                </div>
              </div>
            </div>
        </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Choose your dates</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render "/rents/new", droid: @droid, rent: @rent %>
                </div>
              </div>
            </div>
          </div>

    <div class="footer-card">
      <div class="owner">
        <% if @droid.user.photo.attached? %>
          <%= link_to user_path(@droid.user) do %>
            <%= cl_image_tag @droid.user.photo.key, height: 40, width: 40, crop: :fill %>
          <% end %>
        <% end %>

        <%= link_to user_path(@droid.user) do %>
          <p>Louer le droid de <strong style="color: black"><%= @droid.user.name %></strong></p>
        <% end %>
      </div>

        <div class="btn-book-date">
          <% if current_user == @droid.user_id %>
            <%= link_to "Update", edit_droid_path(@droid) %>
            <%= link_to "Delete #{@droid.name}",
                        droid_path(@droid),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
          <% end %>
          <%= link_to 'Back', droids_path, class: 'btn-secondary' %>
        </div>
      </div>
    </div>
  </div>

