<h1><%= @droid.name %></h1>

  <p><%= @droid.category %></p>
  <p><%= @droid.builder %></p>
  <p><%= @droid.age %></p>
  <p><%= @droid.era %></p>
  <p><%= @droid.description %></p>

<br>
<br>
<br>
<h3>It's not possible during:</h3>
<% @droid.rents.each do |rent|%>
<li><%= rent.start_year %> to <%= rent.end_year %> // <%= link_to "See more", rent_path(rent) %> // <%= link_to "Delete this rent", rent_path(rent), method: :delete, data: { confirm: "Are you sure?"} %> </li>
<% end %>

<br>
<br>
<br>

<br>
<%= link_to "Rent this droid", new_droid_rent_path(@droid) %>
<br>
<% @droids.each do |droid| %>
  <% if policy(droid).edit? %>
    <%= link_to "Update", edit_droid_path(@droid) %>
  <% end %>
<% end %>
<br>
<%= link_to "Delete #{@droid.name}",
            droid_path(@droid),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<br>
<%= link_to 'Back', droids_path %>

