<div class="card-droid">
  <div class="img-card">
    <% if @droid.photo.attached? %>
    <%= cl_image_tag @droid.photo.key %>
    <% end %>
  </div>

  <div class="card-droid-infos">
    <div class="droid-info">
      <div class="title-description">
        <h1><%= @droid.name %></h1>
        <p><%= @droid.description %></p>
      </div>
      <div class="lien">
        <ul>
          <li><i class="fas fa-user-astronaut"></i> <%= @droid.category %></li>
          <li><i class="fas fa-tools"></i>  <%= @droid.builder %></li>
          <li><i class="fas fa-cogs"></i>  <%= @droid.age %></li>
          <li><i class="fas fa-history"></i>  <%= @droid.era %></li>
        </ul>

        <p><%= @droid.category %></p>
        <p><%= @droid.builder %></p>
        <p><%= @droid.age %></p>
        <p><%= @droid.era %></p>
        <p><%= @droid.description %></p>

        <div class="owner">
          <img src="https://starwarsblog.starwars.com/wp-content/uploads/2013/08/Onaconda_Farr-1088x816-420160302007.jpg" alt="">
          <h2>Location à <%= @droid.user.name %></h2>
        </div>
      </div>
    </div>

    <div class="chose-date">
      <div class="js">
      </div>
      <div class="price">
      </div>
      <div class="btn-book-date">
        <ul>
          <li><%= link_to "Rent this droid", new_droid_rent_path(@droid) %></li>
        <% @droid.rents.each do |rent|%>
          <li><%= rent.start_year %> to <%= rent.end_year %> // <%= link_to "See more", rent_path(rent) %> // <%= link_to "Delete this rent", rent_path(rent), method: :delete, data: { confirm: "Are you sure?"} %> </li>
        <% end %>
          <li><%= link_to "Update", edit_droid_path(@droid) %></li>
          <li><%= link_to "Delete #{@droid.name}",
                      droid_path(@droid),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %></li>
          <li><%= link_to 'Back', droids_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>


