<h1><%= @droid.name %></h1>

<% @droid.each do |droid| %>
  <p><%= droid.category %></p>
  <p><%= droid.builder %></p>
  <p><%= droid.age %></p>
  <p><%= droid.era %></p>
  <p><%= droid.description %></p>
<% end %>

<%= link_to 'add droid', droid_path(@droid) %>

<%= link_to "Delete #{@droid.name}",
            droid
          _path(@droid
            ),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%= link_to 'Back', droid_path %> |
