<h1><%= @droid.name %></h1>

  <p><%= @droid.category %></p>
  <p><%= @droid.builder %></p>
  <p><%= @droid.age %></p>
  <p><%= @droid.era %></p>
  <p><%= @droid.description %></p>


<%= link_to "Update", edit_droid_path(@droid) %>
<br>
<%= link_to "Delete #{@droid.name}",
            droid_path(@droid),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<br>
<%= link_to 'Back', droids_path %>
